// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)



@import url('https://fonts.googleapis.com/css2?family=Praise&family=Raleway:ital,wght@0,400;0,700;1,400&family=Source+Sans+3&display=swap');

$primary:       #F27057;
$secondary:     #F27057;
$success:       #A4D882;
$info:          #88D9DB;
$warning:       #FFF689;
$danger:        #E5446D;
$light:         #ffffff;
$dark:          #016566;

$h1-font-size:                5.653rem;
$h2-font-size:                3.998rem;
$h3-font-size:              2.827rem;
$h4-font-size:                1.999rem;
$h5-font-size:                1.414rem;
$h6-font-size:                1rem;



// Then add additional custom code here
$headings-font-family: 'raleway', sans-serif;

.script {
  font-family: 'praise', sans-serif;
 }


@import "../node_modules/bootstrap/scss/bootstrap";
// navbar
.navbar {
    font-family: 'raleway', sans-serif;
    } 

.navbar-brand > img{
  height: 2em;
  padding-left: 30px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar-nav {
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  margin-left: 40px;
}

.navbar-nav > li > a:hover {
  color: $primary;
}

@media (max-width:1000px){ 

  .navbar-nav > li {
    padding-left: 1rem;
  }

  .brand {
    display: none;
  }
}

@media (min-width:1000px) {
  .brand2 {
    display: none;
  }
}

// footer
footer {
  display: flex;
  background-color: $dark;
  justify-content: space-between;
  padding: 1rem 3rem 1rem 3rem;
  color: $light;
  margin-top: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  align-items: center;
}

footer > img {
  height: 10%;
  width: 10%;
}

footer > a {
  text-decoration: none;
  color: $light;
}

footer > a:hover {
  color: $primary;
}

#small-icons {
  display: flex;
  gap: 1em;
}

#small-icons > a > img {
  height: 2em;
}

#small-icons a:hover {
  opacity : 80%;
}

//hero banner
#hero {
  background-image: url(../images/paddle-board.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 6px #ababab;
}

#made {
  padding-right: 70px;
}

#hero .d-flex{
  height: 50vh;
}
//fan faves
.shop-now {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.shop-now > button {
  box-shadow: 0px 1px 6px #ababab;
}

.soda-faves {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0em;
  padding-top: 3em;

}

.soda-faves > a > img {
  width: 100%;
}

.fan-faves > h2 {
  background-color: #016566;
  color: #fff;
  text-align: center;
  padding: 9px;
  margin-top: -3rem;
  z-index: 10;
  position: relative;
  box-shadow: 0px 1px 6px #ababab;
}

.fan-faves {
  display: grid;
  grid-template-rows: 1;
}

.soda-faves > a {
  width: 15%;
}

.soda-faves > a:hover {
  transform: translateY(-2em);
  transition: ease-in-out;
  transition-duration: 100ms;
}

@media (max-width:1000px) {
#s-b, #l-l {
  display: none;
}

.soda-faves > a {
  width: 25%;
}

footer {
  flex-direction: column;
  justify-content: space-between;
}

footer > img {
  height: 25%;
  width: 25%;
}

}

//aknowlegment
#acknowledgment {
  margin-top: 3em;
  margin-bottom: 3em;
}



.carousel-item {
  transition: transform 30s linear;
}

//follow

.follow {
  display: flex;
  align-items: center;
  gap: 1em;
}

.follow > a {
  width: 3em;

}
.follow > a > img {
  width: 3em;
  box-shadow: 0px 1px 6px #ababab;
  border-radius: 50%;
}

.follow > a:hover {
  opacity: 80%;
}



#social {
  background-color: #88D9DB;
  padding-top: 3rem;
  box-shadow: 0px 1px 6px #ababab;
}

  //about us
  #hero-au {
    background-image: url(../images/about-us-banner.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 20em;
    box-shadow: 0px 1px 6px #ababab;
  }

  #heroaboutus > img {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }

  #hero-wtb {
    background-image: url(../images/banner-where-to-buy.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 20em;
    box-shadow: 0px 1px 6px #ababab;
  }

blockquote:before {
  color: #F27057;
  content: open-quote;
  font-size: 3em;
  font-family: praise, serif;
  line-height: 0;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote {
  quotes: "\201C";
  margin-right: 70px;
  line-height: 1.5em;
}

#our-story > img {
  width: 50%;
  height: 50%;
}

.values-image {
  width: 50%;
  height: 50%;
  align-self: center;
}

@media (max-width:1000px) {
  .values-image {
    object-fit: cover;
    align-self: center;
  }

 #values {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #our-story {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
// where to buy

#map {
  margin-top: 3em;
}

// #find-retailer > h3 {
// padding-top: 1rem;
// }

#accordionFlushExample {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 3em;
}

@media (max-width:1000px) {

  #accordionFlushExample {
    grid-template-columns: 1fr;
  }

}

.accordion-body > ul {
list-style: none;
margin: 0;
padding: 0;
}

.accordion-body > ul > li > a {
  text-decoration: none;
}

#become-retailer {
  padding-top: 1rem;
  background-color: #88D9DB;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

#retailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#hero-au {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#hero-au h4 {
  color: $light;
  text-align: right;
}
